.denglutop{
	width: 100%;
	height: auto;
}
.denglutop-main{
	width: 100%;
	height: 0.84rem;
	background:#f7f7f8;
	padding: 0.06rem 0;
	border-bottom:0.02rem solid #c8c8c8;
}
.dengluzi{
	text-align: center;
    font-size: 0.28rem;
    color: #999;
    line-height: 0.7rem;
    font-weight: 600;
}
.login{
	width: 100%;
	height: auto;
	
}
.loginmain{
	width: 100%;
	margin-top: 0.35rem;
	overflow: hidden;
}
.loginmain ul{
	overflow: hidden;
	background: #fff;
	position: relative;
	width: 100%;
	height: 0.84rem;
	padding: 0.08rem 0.2rem;
	border-bottom:0.02rem solid #ddd;
}
.loginmain ul li .login-left{
	float: left;
    color: #ccc;
    text-align: left;
    font-size:0.28rem;
    line-height: 0.7rem;
    font-weight: 600;
}
.loginmain ul li .login-right{
    position: absolute;
     right: 2rem;
    left: 2rem;
    margin: auto;
    font-size: 0.28rem;
    color: #ccc;
    font-weight: 700;
    opacity: 0.8;
    line-height: 0.7rem;

}
.denglukuang{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.36rem;
	margin-right: 0.1rem;

	/* margin-left: 0.2rem; */
}
.denglukuang-main{
	width: 7rem;
	height: 0.87rem;
		border-radius: 0.1rem;
	background: #c40000;
	margin: 0 auto;
}
.denglukuang-zi{
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}
.content4{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.3rem;
	margin-right: 0.1rem; 
}
.content4zi{
	width: 7rem;
	height: 0.38rem;
	margin: 0 auto;

}
.mianfei{
	color: #c40000;
	font-size: 0.28rem;
	float: left;
	line-height: 0.38rem;
}
.wangji{
	color: #c40000;
	font-size: 0.28rem;
	float:right;
	line-height: 0.38rem;
}
.duanxin{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.8rem;
}
.duanxinmain{
   width: 100%;
   overflow: hidden;
}
.duanxinkuang{
	margin: 0 auto;
	width: 33.33%;
	border: 0.02rem solid #f40;
    padding: 0.2rem;
    border-radius: 0.1rem;
    overflow: hidden;
}
.duanxinzi{
	font-size: 0.28rem;
	color: #f40;
	text-align: center;
}
