@charset "utf-8";
/* CSS Document */
/*通用*/
*{margin:0;padding:0;}
ul li{list-style:none;}
a,a:visited{text-decoration:none;color:#666;}
a:hover{text-decoration:underline;color:#0085d0;}
input,a,img{border:0;} 
body{line-height:180%;}

header .rose,header .rose:hover,header .rose:visited,header .rose:focus{color:#e40077;}

/*页头*/
header{width:100%;}
.topbar{width:100%;height:25px;line-height:25px;background:#f6f6f6;border-bottom:1px solid #ececec;}
.topbar .topleft{float:left;}
.topbar .topleft a,.topbar .topleft a:visited{border-right:1px solid #ececec;padding:0 10px;}
.topbar .dropdown{display:inline-block;}
header .dropdown-menu{border:0;border-radius:0; text-align:center;margin:0;padding:18px 0 12px 0;}
.topbar .dropdown-menu p{margin:0;text-align:center;}
.topbar a,.topbar a:visited{display:inline-block;text-decoration:none;color:#888;}
.topbar a:hover,.topbar a:active{color:#25b2fe;text-decoration:none;}
.topbar .topright .t1{padding:0 10px 0 25px;background:url(../images/t1-1.png) 10px center no-repeat;}
.topbar .topright .t1:hover{background-image:url(../images/t1-2.png);}
.topbar .topright .open .t1{background-image:url(../images/t1-2.png);background-color:#fff;color:#25b2fe; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);}
.topbar .topright{float:right;}
.topbar .topright span{font-size:10px;color:#ddd;}
.topbar .topright a,.topbar .topright a{padding:0 5px;}
.topbar .topright .t3{padding:0 10px 0 25px;background:url(../images/t3-1.png) 10px center no-repeat;color:#e40077; cursor:pointer;}
.topbar .topright .t3:hover{background-image:url(../images/t3-2.png);color:#25b2fe;}
.topbar .topright .open .t3{background-image:url(../images/t3-2.png);background-color:#fff; color:#25b2fe;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);}
.topbar .topright .dropdown-menu{z-index:1002;}
.topbar .topright .dropdown-menu a,.topbar .topright .dropdown-menu a:visited{width:140px;height:35px;line-height:35px;border:1px solid #e4e4e4;margin:5px 15px;color:#25b2fe;}
.topbar .topright .dropdown-menu a:hover{border:1px solid #25b2fe;background:#25b2fe;color:#fff;}
.topbar .topright .loginStr{float:left;padding:0 15px;color:#666;}
.topbar .topright .login,.topright .login:visited{color:#e40077;font-weight:bold;padding:0 20px 0 0;}

.headcon{padding:15px 50px 15px 0;}
.headcon .logo{float:left;}
.headcon .dropdown{float:left;margin:20px 0 0 20px;}
.headcon .topcity{cursor:pointer;font-size:14px;height:25px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0 15px 0 0;background: transparent url(../images/x.gif) no-repeat right 9px;}

.headcon #DivCity,.headcon #divdishi{width:540px;padding:10px 20px;z-index:1005;}
.headcon #DivCity li,.headcon #divdishi li{text-align:left;font-size:12px;padding:7px 0;}
.headcon #DivCity dl,.headcon #divdishi dl{margin:0;}
.headcon #DivCity dt{float:left;padding:0 0 0 10px;font-weight:normal;width:50px;height:12px;border-left:3px solid #e50075;}
.headcon #DivCity dt span{margin-top:-2px;display:block;}
.headcon #DivCity dd{float:left;padding:0;width:50px;}
.headcon #divdishi dd{float:left;padding:0 10px;}
.headcon #DivCity dd a{margin-top:-2px;display:block;}
.headcon #divdishi span{float:left;}
.headcon #divdishi > li > a{float:left; clear:none;color: #0085D0;font-weight: bold;}
.searchbar{border:2px solid #dfdfdf;width:100%;position: static;}
.searchbar .form-control{border:0;color: #999;height:32px;}
.searchbar .input-group-btn{top: 0;right: 0;position: absolute;height: 36px;display: block;width: 85px;}
.searchbar .input-group-btn .btn{border:0;padding-left:30px;background:#25b2fe url(../images/search.png) no-repeat 15px center;color:#fff;width:85px;border-radius:3px;margin-left:0;height:36px;}
.searchdiv{position: relative;}
.searchdiv .hot{padding-top:5px;}
.searchdiv .hot a,.searchdiv .hot a:visited{padding:0 20px 0 0;}
.searchdiv .hot a:hover{color:#0085d0;}
.search_toplist {background: #FFF; border: 1px solid #DDD; border-top:0;padding:0px;  position: absolute; left: 0px; top: 39px; width:100%; z-index: 1001;}
.search_toplist li{display:block;height:35px;position:relative;}

.searchdiv .search_toplist .search_li_yidong a{background: #f4f4f4;}
.searchdiv .search_toplist .search_li_yidong a:hover{width:100%;background:#f4f4f4;text-decoration:none;color:#8ec31f;}
.searchdiv .search_toplist a, .nav .searchdiv .search_toplist a:visited {border: 0 none;font: 14px/35px "微软雅黑";height: 35px;padding:0 20px;text-align: left; width:100%;}
.searchdiv .search_toplist a:hover{width:100%;}
.searchdiv .search_li_yidong .search_toplist a:hover{width:100%;}
.searchdiv .search_li_yidong .search_toplist a {background:#f4f4f4;}
.search_toplist .search_li_history{float:right; position:absolute; top:0; right:20px;z-index: 5000;}
.searchdiv .search_toplist .search_li_history a{width:60px;}
.searchdiv .search_toplist .search_li_history a:hover{width:60px;}
.searchdiv .search_li_yidong .search_toplist .search_li_history a:hover{width:60px;}
.search_toplist .close_line{border-top: 1px solid #F0F0DE; width:100%; margin:2px 0 3px 0; float: left; height:1px;}
.search_toplist .colse_class{float: right; margin-right: 20px; cursor: pointer; margin-bottom: 2px; height:30px; line-height:30px;}

header .navbar{border-radius:0;background:#e4e4e4;padding:0;margin-bottom:0;min-height: 40px;position:relative;border:0;}
header .navbar a,header .navbar a:visited{text-align:center;padding:0;line-height:40px;font-size:16px;}
header .navbar-nav > li > a,header .navbar-nav > li > a:visited{padding-top:0;padding-bottom:0;}
header .navbar .dropdown{position:static;}
header .navbar-nav{width:100%;}
header .navbar-nav li{float:left;border-right:1px solid #fff;height: 40px;}
header .navbar-collapse{padding:0;}
header .navindex{width:160px;}
header .active{color:#0085d0;border-top:2px solid #0085d0;}
header .active a,header .active a:hover,header .active a:visited{color:#0085d0;font-weight:bold;}
header .navbar .dropdown-menu{width:100%;min-width:100%;left:0;box-shadow: 0px 6px 12px -4px rgba(0, 0, 0, 0.176);padding: 0;z-index:1000;}
header .navbar .dropdown-menu a,header .navbar .dropdown-menu a:visited{font-size:14px;color:#333;font-weight:normal;text-decoration: none;}
header .navbar .dropdown-menu a:hover{color:#0085d0;}
header .navbar .open ins{left: 50%;bottom: 0px;margin-left:-7px;width: 0; height: 0; border-left: 7px solid transparent;border-right: 7px solid transparent; border-bottom: 8px solid #fff;position:absolute;}
header .headcon .phonenav{margin:5px 0 0 0;text-align:right;position:static;}

/*卷帘广告*/
#top_ads{border: #000 0px solid;  display: none; margin: auto; overflow: hidden; width: 1200px;  position: relative; top: 0px; height:720px; background: #ffffff; text-align: center;}
#header_zzjs_net_ad{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 1200px; CURSOR: pointer; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px;}
#close{right:0; CURSOR: pointer;top:0;POSITION: absolute;}
#closex {cursor: pointer; position: absolute; right: 3px; top: 3px;}
#float_ad{DISPLAY: none; WIDTH: 1200px;margin:0 auto; CURSOR: pointer; position:relative;}
#float_ad img{width:100%;}

@media (min-width:769px){.headcon .logo{padding-top:10px;}header .container{width:1000px;}.topbarcon{width:1000px;margin:0 auto;}header .navbar .dropdown{width:210px;}header .navbar .dropdown-menu li{float:left;width:14%;}header .navbar .dropdown-menu{width:1000px;min-width:1000px;}#top_ads{width: 1000px; height:auto;}#top_ads img{width:100%;}#header_zzjs_net_ad{WIDTH: 1000px;}#close{right:10px;}#closex {right:10px; top: 3px;}#float_ad{  WIDTH: 1000px;}.adxiao{width:1000px; position:relative;   overflow:hidden;}.searchdiv .hot a:last-child{display:none;}
.adxiao img{width:100%;}
}
@media (min-width:1200px){header .container{width:1200px;}.topbarcon{width:1200px;margin:0 auto;}header .navbar .dropdown-menu{width:1200px;min-width:1200px;}header .navbar .dropdown{width:260px;}#top_ads{ width: 1200px;  }.searchdiv .hot a:last-child{display: inline-block;}
#header_zzjs_net_ad{ WIDTH: 1200px; }
#close{right:10px;}
#closex { right: 3px; top: 3px;}
#float_ad{ WIDTH: 1200px;}
.adxiao{width:1200px;}
.adxiao img{position: static;left:0;}
}
@media screen and (max-width:768px){.headcon .logo{padding-top:0px;}header .container{width:100%;}.topbarcon{width:100%;margin:0 auto;}.headcon{padding:15px 20px 15px 0;}header .navbar{position:static;}header .navbar .dropdown-menu li{width:100%;}header .navbar .dropdown{position:relative;}header .navbar .dropdown-menu{width:100%;min-width:100%;left:0;padding:10px;}header .navbar .dropdown{width:20%;}header .navindex{width:20%;}header .navbar .dropdown-menu a,header .navbar .dropdown-menu a:visited{border-bottom:1px solid #e5e5e5;}.headcon .dropdown { margin-top:15px;}.headcon .col-xs-10 .dropdown{max-width: 27%;min-width: 50px;}.headcon .topcity{width:90%;}
#top_ads{ width: 100%;  height:auto; }#top_ads img{position: static; }
#header_zzjs_net_ad{ WIDTH: 100%; }
#header_zzjs_net_ad img{width:100%;height:auto;}
#close{right:10px; text-align:right;}
#close img{width:50%;}
#closex { right: 3px; top: 3px;}
#float_ad{ WIDTH: 100%;}
.adxiao{width:100%; height:auto;}
.adxiao .imgxiaoA{WIDTH: 100%;position: static;left:0;}
}
@media screen and (max-width:767px){header{position:relative;}.headcon .logo{width:45%;}.headcon .logo img{width:100%;}.headcon .dropdown { margin-top:5px;}header .navbar .dropdown{width:25%;position: static;}header .navindex{width:25%;}.headcon #DivCity{padding-right:10px;width:520px;}.headcon .topcity {  font-size: 16px;}
.headcon .col-xs-10 .dropdown {max-width: 47%;min-width: 60px;}
header .headcon{background:#f6f6f6;}
header .navbar{background:#fff;border:1px solid #ececec;position:relative;}
header .navbar-nav li{border-right:1px solid #ececec;}
header .navbar-nav li:last-child{border-right:0;}

header .headcon .phonenav img{width:50%;}
header .headcon .phonenav .dropdown-menu{right:0;top:0;z-index:9999;padding:10px;}
header .headcon .phonenav .dropdown-menu p{float:left;width:100%;height:40px;line-height:40px;color:#e5e5e5;font-size:16px;}
header .headcon .phonenav .dropdown-menu .beforelogin a,header .headcon .phonenav .dropdown-menu .beforelogin a:visited{color:#31adf7;display:inline-block;}
header .headcon .phonenav .dropdown-menu .beforelogin span{font-size:12px;padding:0 15px;}
header .headcon .phonenav .dropdown-menu .afterlogin{text-align:left;}
header .headcon .phonenav .dropdown-menu .afterlogin a,header .headcon .phonenav .dropdown-menu .afterlogin a:visited{color:#bdbdbd;}
header .headcon .phonenav .dropdown-menu .afterlogin span{padding:0 15px;color:#31adf7;}
header .headcon .phonenav ul{float:left;width:100%;}
header .headcon .phonenav ul a,header .headcon .phonenav ul a:visited{display:block;height:40px;line-height:40px;border-top:1px solid #ebebeb;text-align:left;margin:0 15px;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background-color: #fff;border-bottom:2px solid #0085d0; color: #0085D0;}
header .active {border-top: 0;}
.navbar-nav .open .dropdown-menu{margin-top: 2px;padding:0;}
header .navbar .dropdown-menu .dropdown-toggle{height:40px;}
header .navbar-nav .dropdown-menu li{float:none;border-right:0;border-bottom:1px solid #ebebeb;height:auto;}
header .navbar li a, header .navbar li a:visited{font-size:14px;}
.navbar-nav .open .dropdown-menu > li > a{line-height:40px;border:0;text-align:left;font-size:16px;background:url(../images/phonenavbg.png) right center no-repeat;}
.navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover{background:url(../images/phonenavbg.png) right center no-repeat;}
.headcon #DivCity,.headcon #divdishi{width:100%;top: 0;left:0;padding:0;z-index:9999;}
.headcon #DivCity .close {float:left;font-size: 22px;}
.headcon #DivCity li,.headcon #divdishi li{font-size:16px;padding:10px 15px;border-top:4px solid #f4f4f4;}
.headcon .col-xs-10{position:static;}
.headcon .col-xs-10 .dropdown {position:static;}
.headcon #DivCity li:first-child{text-align:center;background:#f4f4f4;border:0;}
.headcon #DivCity dt{width:100%;border-bottom:1px solid #d9d9d9;border-left:0;height:40px;padding:10px 0 0 0;}
.headcon #DivCity dt span{border-left:3px solid #e50075;padding-left:10px;}
.headcon #DivCity dd{width:25%;text-align:center;height:40px;line-height:40px;border-bottom:1px dashed #d9d9d9;}
.headcon #divdishi dd{text-align:center;height:45px;line-height:45px;border-bottom:1px dashed #d9d9d9;}}
@media screen and (max-width:480px){
.headcon .col-xs-10 .dropdown{margin-left:15px;}
}
